.favorites-section {
  border-top: 1px solid #fdfdfe;
  background: #0d253f;
}

.favorites-section h2 {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.favorites-list {
  outline: none;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
