.favorite-item {
  position: relative;
  width: 200px;
  text-align: center;
  padding: 8px;
  background: #000000;
  margin: 0 10px 20px;
}

.favorite-item:hover {
  background: #22848d;
  cursor: pointer;
}

.favorite-item .favorite-poster {
  width: 185px;
  height: 278px;
}

.favorite-close {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px;
}

.favorite-close .close {
  color: #fdfdfe;
}

.close:hover {
  color: #aaaaaa;
}

.favorite-vote-average {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.favorite-vote-average .star {
  font-size: 12px;
  color: #eebf10;
  margin-right: 6px;
}
