.featured-movie {
  margin: 26px auto 0;
  width: 100%;
  display: flex;
}

.featured-movie-poster {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.featured-movie-info {
  flex: 0.5;
  padding-right: 50px;
}

.featured-movie-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
}

.featured-movie-overview {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.featured-movie-rating {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 15px 0 20px;
}

.featured-movie-rating .star {
  color: goldenrod;
  font-size: 20px;
}
