.featured-movie {
  margin: 4vh auto 6vh auto;
  width: 75%;
  height: 82vh;
  display: flex;
}

@media screen and (max-width: 640px) {
  .featured_movie {
    width: 95%;
    height: 110vh;
    flex-direction: column;
    text-align: center;
  }
}

.featured-movie-poster {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1vw;
}

@media screen and (max-width: 1141px) {
  .featured-movie-poster {
    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .featured-movie-poster {
    background-size: contain;
  }
}

.featured-movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featured-movie-info .featured-movie-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 6vh;
}

.featured-movie-info .featured-movie-tagline {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3.5vh;
  color: goldenrod;
  margin: 0.5vh 0;
}

.featured-movie-info .featured-movie-overview {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2vh;
  margin: 0.5vh 0;
}

@media screen and (max-width: 640px) {
  .featured-movie-info {
    padding-right: 0;
  }

  .featured-movie-info .featured-movie-title {
    font-size: 4vh;
    margin-top: 1vh;
  }

  .featured-movie-info .featured-movie-tagline {
    font-size: 2.5vh;
  }

  .featured-movie-info .featured-movie-overview {
    font-size: 1.75vh;
  }

  .featured-movie-info .rating {
    font-size: 2.75vh;
  }

  .featured-movie-info .rating .star-icon {
    font-size: 2.75vh;
  }

  .featured-movie-info .rating .star-icon-empty {
    font-size: 2.75vh;
  }
}

.featured-movie-rating {
  font-family: "Open Sans", sans-serif;
  font-size: 3vh;
  margin-bottom: 3vh;
}

.featured-movie-rating .movie_average {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
  display: inline-block;
  padding-left: 1vh;
}

.featured-movie-rating .stars {
  color: goldenrod;
  font-size: 2.75vh;
  padding-top: 1vh;
}

.featured-movie-rating .stars .star {
  padding: 0.15vh;
}

@media screen and (max-width: 640px) {
  .featured-movie-rating {
    font-size: 2.75vh;
  }

  .featured-movie-rating .stars {
    font-size: 2.75vh;
  }
}
