.hidden-section {
  border-top: 1px solid #fdfdfe;
  border-bottom: 1px solid #fdfdfe;
  background: #0d253f;
  padding-bottom: 15px;
}

.hidden-section h2 {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.hidden-list {
  outline: none;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden-section i.caret {
  font-size: 32px;
  display: block;
  margin: auto;
}

.hidden-section i.icon:hover {
  cursor: pointer;
}

.clear-hidden-btn {
  display: block;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #fdfdfe;
  font-weight: 600;
  padding: 8px;
  border: 3px solid #144b5c;
  border-radius: 16px;
  background: #144b5c;
}

.clear-hidden-btn:hover {
  cursor: pointer;
  border: 3px solid #fdfdfe;
}
