.movie-item {
  position: relative;
  width: 200px;
  text-align: center;
  padding: 8px;
  background: #000000;
  margin: 0 10px 20px;
}

.movie-item:hover {
  background: #22848d;
  cursor: pointer;
}

.movie-item .movie-poster {
  width: 185px;
  height: 278px;
}

.movie-favorite,
.movie-hide {
  padding: 4px;
  display: inline-block;
}

.movie-favorite i,
.movie-hide i {
  color: #eebf10;
  font-size: 40px;
}

.movie-favorite i:hover,
.movie-hide i:hover {
  color: goldenrod;
}

.movie-vote-average {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.movie-vote-average .star {
  font-size: 12px;
  color: #eebf10;
  margin-right: 6px;
}
