.movies-section {
  border-top: 1px solid white;
}

.movies-section h2 {
  margin-top: 2vh;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .movies-section h2 {
    font-size: 3vh;
  }
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
  justify-content: center;
}
