.movie-item {
  width: 200px;
  text-align: center;
  padding: 8px;
  background: #22848d;
  margin: 0 10px 20px;
}

.movie-item:hover {
  background: #fdfdfe;
  cursor: pointer;
}

.movie-item .movie-poster {
  opacity: 0.9;
  width: 185px;
  height: 278px;
}

.movie-item .movie-poster:hover {
  opacity: 1;
}

.movie-item .movie-title {
  max-width: 200px;
}

.movie-vote-average {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.movie-vote-average .star {
  font-size: 12px;
  color: #eebf10;
  margin-right: 6px;
}
