.movie-item {
  min-width: 200px;
  flex-basis: 12%;
  text-align: center;
  padding: 8px;
}

.movie-item .movie-poster {
  opacity: 0.9;
}

.movie-item .movie-poster:hover {
  opacity: 1;
  cursor: pointer;
}

.movie-vote-average .star {
  font-size: 12px;
  color: goldenrod;
  margin-right: 6px;
}
