.ui.secondary.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 15px;
  margin: 0;
  background: #102e37;
  border-bottom: 1px solid #fff;
}
.ui.secondary.menu a {
  color: #fff;
}
.ui.secondary.menu a:hover,
.ui.secondary.menu a:hover * {
  color: goldenrod !important;
}
