.search-bar {
  display: none;
}

form.ui.input > input {
  border: 2px solid #fdfdfe;
  border-radius: 20px;
  background: none;
  color: #fdfdfe;
}

form.ui.input > input:focus {
  border: 2px solid #eebf10;
  background: none;
  color: #eebf10;
  text-transform: capitalize;
}
